@charset "UTF-8";
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Montserrat";
  src: url("./../fonts/montserrat/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./../fonts/montserrat/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./../fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./../fonts/montserrat/Montserrat-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./../fonts/montserrat/Montserrat-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/roboto/roboto-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/roboto/Robotobold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  display: swap;
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: url("./../fonts/roboto/Robotomedium.woff2") format("woff2");
  display: swap;
}
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  src: url("./../fonts/roboto/Robotolight.woff2") format("woff2");
  display: swap;
}
@font-face {
  font-family: "Helvenica";
  font-weight: 600;
  font-style: normal;
  src: url("./../fonts/helvenica/Helvetica-Bold.woff2") format("woff2");
  display: swap;
}
@font-face {
  font-family: "Helvenica";
  font-weight: 400;
  font-style: normal;
  src: url("./../fonts/helvenica/Helvetica.woff2") format("woff2");
  display: swap;
}
:root {
  --container-width: 1260px;
  --container-padding: 15px;
  --font-main: "Montserrat", sans-serif;
  --font-accent: "Roboto", sans-serif;
  --font-titles: var(--font-main);
  --font-hel: "Helvenica", sans-serif;
  --page-bg: #fafaef;
  --text-color: #000;
  --accent: #f04d63;
  --link-color: #fff;
  --border: rgb(218, 213, 213);
  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;
  --option-width: 70px;
  --gutter: 10px;
  --radius: 1.875rem;
  --bg: #f5f5f5;
}

.dark {
  --page-bg: #252526;
  --text-color: #fff;
}

html {
  scroll-behavior: smooth;
  background-color: rgb(39, 39, 39);
}

body {
  background-color: var(--page-bg);
  color: var(--text-color);
  font-family: var(--font-main);
  text-wrap: balance;
}

img {
  display: block;
}

a {
  color: var(--link-color);
}

a:hover {
  opacity: 0.7;
}

code {
  background-color: #e9f1f6;
  padding: 0.2rem;
  border-radius: 4px;
}

pre.code {
  overflow-x: auto;
  background-color: #e9f1f6;
  padding: 1rem;
  border-radius: 4px;
}

/* Контейнеры */
.container {
  margin: 0 auto;
  padding: 0 var(--container-padding);
  max-width: var(--container-width);
  width: 100%;
}

.container-full {
  padding: 0 var(--container-padding);
  max-width: 100%;
}

.container-left-50 {
  padding: 0 var(--container-padding);
  max-width: 50%;
}

.container-right-50 {
  padding: 0 var(--container-padding);
  max-width: 50%;
  margin-left: auto;
}

@media (max-width: 820px) {
  .container-left-50,
.container-right-50 {
    max-width: 100%;
  }
}
.container-right {
  padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}

.container-left {
  padding-right: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}

@media (max-width: 1220px) {
  .container-right {
    padding-left: var(--container-padding);
  }
  .container-left {
    padding-right: var(--container-padding);
  }
}
.container-half-left {
  padding-right: calc((100% - var(--container-width)) / 2 + var(--container-width) / 2);
  padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}

@media (max-width: 1220px) {
  .container-half-left {
    padding-left: var(--container-padding);
  }
}
/* Mobile */
@media (max-width: 820px) {
  .container-half-left {
    padding: 0 var(--container-padding);
  }
}
.container-half-right {
  padding-left: calc((100% - var(--container-width)) / 2 + var(--container-width) / 2);
  padding-right: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}

/* Tablet */
@media (max-width: 1220px) {
  .container-half-right {
    padding-right: var(--container-padding);
  }
}
/* Mobile */
@media (max-width: 820px) {
  .container-half-right {
    padding: 0 var(--container-padding);
  }
  .container {
    padding: 0 10px;
  }
}
html, body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow-y: hidden;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.decoration {
  text-decoration: underline;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.small {
  font-size: 12px;
  font-weight: 600;
}

p + p {
  margin-top: 5px;
}

.header {
  background-color: var(--page-bg);
  padding: 50px 0;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header a {
  color: #000;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  text-align: center;
}

.hero__subtitle {
  font-family: var(--font-accent);
  text-align: center;
  margin-bottom: 10px;
}

/* Tablet */
@media (max-width: 1200px) {
  .header__nav {
    display: none;
  }
}
/* Tablet */
/* Mobile */
@media (max-width: 899px) {
  .header {
    padding: 20px 0;
  }
}
/* Nav Icon */
.mobile-nav-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 4px;
  --spacing: 6px;
  --color: rgb(150, 144, 144);
  --radius: 4px;
  /* Fixed height and width */
  /* height: var(--height); */
  /* width: var(--width); */
  /* Dynamic height and width */
  height: calc(var(--line-height) * 3 + var(--spacing) * 2);
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  border-radius: var(--radius);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  border-radius: var(--radius);
  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.nav-icon::before {
  /* top: calc(var(--line-height) * -2); */
  top: calc(-1 * (var(--line-height) + var(--spacing)));
}

.nav-icon::after {
  /* top: calc(var(--line-height) * 2); */
  top: calc(var(--line-height) + var(--spacing));
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  transform: rotate(-45deg);
}

/* Layout */
.mobile-nav-btn {
  z-index: 999;
}

.mobile-nav {
  position: fixed;
  top: -100%;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: var(--page-bg);
  transition: all 0.2s ease-in;
}

.mobile-nav--open {
  top: 0;
}

.mobile-nav a {
  font-family: var(--font-accent);
  color: #000;
}
.mobile-nav a:hover {
  opacity: 0.5;
}

.mobile-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  font-size: 28px;
  margin-bottom: 30px;
}
.mobile-nav__list .active {
  opacity: 0.5;
}

.nav {
  font-size: 18px;
}

.nav__list {
  display: flex;
  column-gap: 30px;
}

.title-1 {
  font-size: 48px;
  font-weight: 700;
  font-family: var(--font-titles);
}

/* Mobile */
@media (max-width: 899px) {
  .title-1 {
    font-size: 40px;
  }
}
.title-2 {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 700;
  font-family: var(--font-titles);
}

.link {
  display: inline-block;
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 18px;
  padding: 5px;
  border: 1px solid var(--page-bg);
  border-radius: var(--radius);
  transition: all 0.3s;
}

.link--black {
  border: 1px solid rgb(218, 213, 213);
  color: #000;
}

.link--black:hover {
  background-color: rgba(182, 177, 177, 0.664);
}

.link:hover {
  transform: scale(1.2, 1.2);
}

.link-page {
  margin: 15px 0;
}

.option__content a:hover {
  color: var(--page-bg);
}

.title-3 {
  font-size: 30px;
  font-weight: 700;
  font-family: var(--font-titles);
}

.title-4 {
  margin: 1em 0 0.5em;
  font-size: 18px;
  font-weight: 700;
  font-family: var(--font-titles);
}

.title-4--start {
  text-align: start;
}

.title-4--red {
  color: var(--accent);
}

.red {
  color: var(--accent);
}

.title-5 {
  font-size: 18px;
  font-weight: 600;
  font-family: var(--font-titles);
}

.wrapper {
  display: flex;
  justify-content: center;
  min-height: 115vh;
  color: aliceblue;
  margin-bottom: 20px;
}

.options {
  display: flex;
  width: 90%;
  flex-direction: column;
}

.option {
  background-color: black;
  margin: var(--gutter);
  flex-grow: 1;
  border-radius: var(--radius);
  flex: 0 0 var(--option-width);
  transition: flex-grow 1.25s cubic-bezier(0.17, 0.84, 0.44, 1);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.option__content {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 22px;
  padding: 10px;
  justify-content: space-between;
  z-index: 10;
  color: #f0f0f0;
}

.option__content::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* Затемнение */
  z-index: -1;
  top: 0px;
  border-radius: var(--radius);
}

.option:not(.active) {
  cursor: pointer;
}

.option.active {
  flex-grow: var(--total-options);
}

/* Mobile */
@media (max-width: 768px) {
  .options {
    flex-direction: column;
    width: 100%;
  }
  .wrapper {
    min-height: 125vh;
  }
  .wrapper.container {
    padding: 0 5px;
  }
}
.tur {
  text-align: center;
  color: black;
}
.tur span {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.tur-row {
  display: grid;
  grid-template-columns: 300px 1fr;
  border-bottom: 1px solid var(--border);
  margin-bottom: 10px;
}

.tur__img {
  border-radius: var(--radius);
  padding-bottom: 10px;
}

.tur__page-wrapper {
  text-align: start;
}

.tur__page-subtitle {
  margin-bottom: 10px;
}

/* Mobile */
@media (max-width: 899px) {
  .tur-row {
    grid-template-columns: 1fr;
  }
  .tur__img {
    width: 100%;
  }
}
.logo {
  width: 120px;
}

.logo-row {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--font-hel);
  font-weight: 600;
}

.social {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
  margin-top: 8px;
}

.social__img {
  width: 28px;
  transition: all 0.2s ease-in;
}

.social__img--big {
  width: 48px;
}

.social__img:hover {
  transform: scale(1.2, 1.2);
}

.inter-page {
  text-align: center;
  color: black;
  line-height: 1.3;
}
.inter-page span {
  font-weight: 600;
}

.items {
  margin: 10px 0;
}

.list-item {
  font-weight: 600;
}

.items-start {
  margin-bottom: 10px;
}

.items-start__item {
  text-align: start;
  margin-top: 5px;
}

.beach-holiday {
  position: relative;
  background-image: url(.././img/beach-holidays/beach-holadays.jpg);
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: var(--radius);
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.beach-holiday::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}

.beach-holiday__desc {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.beach-holiday__desc p {
  margin-bottom: 10px;
}

/* Mobile */
@media (max-width: 899px) {
  .beach-holiday {
    height: 400px;
    width: 98%;
  }
}
/* Mobile XS */
@media (max-width: 390px) {
  .title-1 {
    font-size: 24px;
  }
}
.tagline {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: #141718;
  color: yellow;
  padding: 30px 15px;
  font-family: var(--font-main);
}

.tagline__desc {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  /* Mobile */
}
@media (max-width: 820px) {
  .tagline__desc {
    font-size: 20px;
  }
}

.tagline__close {
  position: absolute;
  top: 25px;
  right: 16px;
  z-index: 9;
  /* Mobile */
}
.tagline__close svg {
  fill: #fff;
  transition: all 0.2s ease-in;
}
@media (max-width: 820px) {
  .tagline__close svg {
    fill: #fff;
  }
}
.tagline__close:hover svg {
  fill: rgb(201, 194, 194);
}

.tagline__link-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.detail {
  text-align: center;
  margin: 10px 0;
  border: 1px solid var(--border);
  padding: 7px;
  border-radius: var(--radius);
}

.detail a {
  text-decoration: underline;
  font-weight: 600;
}

.footer {
  padding-top: 60px;
  background-color: #d9ecf3;
}

.footer-desc {
  margin-bottom: 10px;
}

.tel a {
  color: #000;
}

/* Mobile */
@media (max-width: 899px) {
  .footer {
    padding-top: 40px;
  }
}
.meta {
  background-color: burlywood;
  padding: 8px 10px;
  text-align: center;
  font-size: 12px;
}/*# sourceMappingURL=main.css.map */