.detail {
    text-align: center;
    margin:10px 0;
    border: 1px solid var(--border);
    padding: 7px;
    border-radius:var(--radius);
}

.detail a {
    text-decoration: underline;
  font-weight: 600;
//   font-family: var(--font-accent);
}