.footer {
  padding: 60px 0;
  background-color: #d9ecf3;
}

// #f5f1f1;
.footer-desc {
  margin-bottom: 10px;
}

.footer-desc a {
  color: #000;
}

/* Mobile */
@media (max-width: 899px) {
  .footer {
    padding: 40px 0;
  }
}
